.example {
  background-color: $light-grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.example__text {
  @include margin;
  @include arial;
  @include padding-wrapper;
  width: 100%;
  box-sizing: border-box;
  padding-top: 33px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
}

.example__tittle {
  @include margin;
  @include padding-wrapper;
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
}

.example__expenses {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 42px;
  @include margin;
}

.example__range-controls {
  display: flex;
  flex-direction: row;
  @include padding-wrapper;
  justify-content: center;
  font-size: 16px;
  color: $basic-black;
  text-transform: uppercase;
}

.example__after {
  @include margin;
}

.example__before {
  @include margin;
}

.example__image-before {
  background-color: $light-grey;
}

.example__image-after {
  background-color: $light-grey;
}
