.additional-goods__caption {
  display: block;
  font-size: 24px;
  font-family: $oswald;
  font-weight: normal;
  z-index: -1;
  border-bottom: 1px solid $special_grey;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 28px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    border-bottom: none;
    padding-bottom: 72px;
    padding-left: 37px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-left: 0;
  }
}

.additional-goods__caption span {
  position: relative;
  z-index: 2;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additional-goods__caption span::after,
.additional-goods__caption span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 20px;
  left: 0;
}

@media (min-width: $tablet-width) {
  .additional-goods__caption span::before {
    left: -100vw;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__gift {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__gift-list {
    display: flex;
  }
}

.additional-goods {
  margin: 0;
  padding-left: 0;

  @include ul-none;

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    width: 896px;
  }
}

.additional-goods__item {
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    border: 1px solid $special_grey;
    padding: 20px 38px 27px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__headline-details {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__li {
    padding-right: 50px;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }

    &--or {
      padding-right: 59px;
    }
  }
}

.additional-goods__details {
  @include ul-none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: $arial;
  padding-bottom: 11px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 287px;
    margin-right: 44px;
  }
}

.additional-goods__headline {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $oswald;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
