.additional-goods__caption {
  display: block;
  font-size: 24px;
  font-family: $oswald;
  font-weight: normal;
  padding-bottom: 36px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $special_grey;
}

.additional-goods__caption span {
  position: relative;
  z-index: 2;
  background-color: $basic-white;
}

.additional-goods__caption span::after,
.additional-goods__caption span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .additional-goods__caption span::before {
    left: -100vw;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__caption span {
    margin-left: -40px;

    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__caption {
    font-size: 36px;
    border-bottom: none;
    padding-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__gift {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-bottom: 76px;
  }
}

.additional-goods {
  margin: 0;
  padding-left: 0;

  @include ul-none;
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-right: 80px;
  }
}

.additional-goods__item {
  padding-top: 13px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid $special_grey;
}

@media (min-width: $tablet-width) {
  .additional-goods__item {
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid $special_grey;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__item {
    display: grid;
    grid-template-columns: 1fr max-content;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 13px;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__headline-details {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__details li {
    padding-right: 50px;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }
  }
}

.additional-goods__details {
  @include ul-none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: $arial;
  padding-bottom: 15px;
  padding-left: 0;
}

@media (min-width: $desktop-width) {
  .additional-goods__details {
    width: 287px;
  }
}

.additional-goods__headline {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $oswald;
}
