.address {
  background-color: $basic-white;
}

@media (min-width: $desktop-width) {
  .address {
    min-height: 200px;
    padding: 0;
    position: relative;
  }
}

.address__text {
  display: flex;
  padding-top: 28px;
  padding-bottom: 22px;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $arial;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;

  &--grey {
    background-color: $basic-grey;
  }
}

@media (min-width: $tablet-width) {
  .address__text {
    display: flex;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 70px;
    background-color: $basic-grey;
  }
}

@media (min-width: $desktop-width) {
  .address__text {
    position: absolute;
    top: 150px;
    z-index: 2;
    left: 150px;
    padding: 20px 40px;
    background-color: $basic-white;
  }
}

.address__tittle {
  font-family: $oswald;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $light-black;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .address__tittle {
    font-size: 20px;
    line-height: 22px;
  }
}

.address__address {
  margin-top: 0;
  margin-bottom: 0;
  width: 140px;
}

.address__p {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .address__address {
    display: flex;
    flex-direction: column;
    min-width: 160px;
  }
}

@media (min-width: $tablet-width) {
  .address__p {
    padding-bottom: 25px;
    font-size: 16px;
    text-align: right;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
