.advantages {
  color: $basic-black;
  padding-top: 0;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 0;
    border-bottom: 1px solid $grey-line-2;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
  }
}

.advantages__tittle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .advantages__tittle {
    font-style: 60px;
    padding-top: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 230px;
  }
}

.advantages__item {
  font-family: $arial;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  color: $dark-grey;
  min-height: 60px;
  min-width: 250px;
  padding-right: 20px;
  max-width: 440px;

  &--leaf {
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
  }

  &--boiling {
    background-image: url("../img/boiling.svg");
    background-repeat: no-repeat;
  }

  &--food {
    background-image: url("../img/food.svg");
    background-repeat: no-repeat;
  }

  &--alarm {
    background-image: url("../img/alarm-clock.svg");
    background-repeat: no-repeat;
    padding-right: 39px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 230px;
    padding: 140px 30px 60px 0;
    min-height: 280px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;

    &--leaf {
      background-image: url("../img/1.png");
      background-repeat: no-repeat;
    }

    &--boiling {
      background-image: url("../img/2.png");
      background-repeat: no-repeat;
    }

    &--food {
      background-image: url("../img/3.png");
      background-repeat: no-repeat;
    }

    &--alarm {
      background-image: url("../img/4.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__item {
    width: 280px;
    padding: 140px 45px 60px 0;
    margin-right: 1px;
  }
}
