.button {
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: $oswald;
  text-align: center;

  &--form {
    min-width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .button {
    margin-left: 0;
    margin-right: 60px;
  }

  &--change-program {
    padding: 10px 25px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--form {
      padding: 18px 207px;
    }
  }
}

.button__button {
  text-align: center;

  &--catalog {
    padding: 7px 110px;
    width: 60px;
  }

  &--white {
    background-color: $basic-grey;
    color: $dark-grey;
    padding: 10px 94px;
  }

  &--catalog-white {
    margin-right: 0;
    background-color: $basic-grey;
    color: $dark-grey;
  }
}

@media (min-width: $tablet-width) {
  .button__button {
    &--catalog {
      max-width: 248px;
      padding: 10px 95px;
      margin-right: 0;
      text-align: center;
    }

    &--catalog-add {
      width: 100%;
      max-width: 672px;
      margin-right: 0;
      margin-left: 0;
      justify-self: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .button__button {
    &--catalog {
      max-width: 168px;
      padding: 10px 53px;
      text-align: center;
    }

    &--catalog-add {
      width: 244px;
    }
  }
}
