.button-burger {
  position: absolute;
  top: 0;
  right: 35px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 35px;
  background-color: $basic-white;
  cursor: pointer;
  border: none;
  padding: 0;
}
