.button {
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-family: $oswald;
}

.button__button {
  text-align: center;

  &--catalog {
    padding: 7px 110px;
  }

  &--white {
    background-color: $basic-grey;
    color: $dark-grey;
    padding: 20px 94px;
  }
}
