.catalog__headline {
  font-size: 36px;
  color: $light-black;
  font-weight: 400;
  border-bottom: 1px solid $special_grey-2;
  padding-top: 27px;
  padding-bottom: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .catalog__headline {
    border-bottom: none;
    padding-bottom: 83px;
    font-size: 60px;
    padding-left: 30px;
  }
}

.catalog__list {
  @include ul-none;
  padding-left: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
  }
}

.catalog__item {
  border-bottom: 1px solid $special_grey-2;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;

  &--show {
    padding-bottom: 25px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__item {
    border-bottom: none;
    width: 224px;
    height: 411px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 60px;
    margin-bottom: 60px;
    background-color: $basic-grey;
    padding: 49px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--show {
      background-color: $basic-white;
      border: 1px solid $basic-grey;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    margin-right: 90px;
    width: 164px;
    padding: 0 40px 45px 40px;

    &:nth-child(2n) {
      margin-right: 60px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.catalog__img-table {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 25px;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .catalog__img-table {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
}

.catalog__caption {
  text-align: start;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 18px;
  color: $special-dark-grey;
  font-family: $oswald;
  width: 76px;
  position: relative;

  &--show {
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    padding-top: 80px;
    color: $light-black;
    margin: 0;
    width: 100%;
  }

  &--show::before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    display: block;
    left: 44%;
    top: 40%;
  }

  &--show::after {
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    position: absolute;
    display: block;
    transform: rotate(90deg);
    left: 44%;
    top: 40%;
  }
}

@media (min-width: $tablet-width) {
  .catalog__caption {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;

    &--show {
      padding-top: 161px;
    }
  }
}

.catalog__tr {
  padding-bottom: 2px;
  font-family: $arial;
  font-size: 12px;
  color: $special-dark-grey;
}

.catalog__th {
  padding: 0;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .catalog__th {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $special_grey;
  }
}

.catalog__td {
  padding: 0;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .catalog__td {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid $special_grey;
  }
}

.catalog__img {
  margin: auto;
}

.catalog__caption-span {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  font-family: $arial;
  color: $dark-grey;
  padding-bottom: 21px;
}
