.data {
  border: none;
  margin: 0;
  border-bottom: 1px solid $grey-line;
  padding: 37px 0 27px 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .data {
    padding-top: 0;
    padding-bottom: 52px;
    border-bottom: none;
  }
}
