@media (min-width: 500px) {
  .data-program-change {
    display: flex;
    flex-direction: column;
    padding: 66px 0 0 0;
  }
}

@media (min-width: 900px) {
  .data-program-change {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}
