@media (min-width: $tablet-width) {
  .data-program-change {
    display: flex;
    flex-direction: column;
    padding: 69px 67px 0 51px;
  }
}

@media (min-width: $desktop-width) {
  .data-program-change {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}
