.example {
  background: $light-grey;
  padding: 20px 0 5px;

  @media (min-width: $tablet-width) {
    padding: 29px 0 43px;
    background: linear-gradient(to top, $light-grey 0, $light-grey 35%, $basic-white 35%, $basic-white 100%);
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 59px;
    background: linear-gradient(to top, $basic-grey 0, $basic-grey 65%, $basic-white 65%, $basic-white 100%);
  }
}

@media (min-width: $desktop-width) {
  .example--container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    background: linear-gradient(to top, $basic-grey 0, $basic-grey 66.5%, $basic-white 66.5%, $basic-white 100%);
  }
}

.example__text {
  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.example__text__p {
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  padding-bottom: 26px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  font-family: $arial;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-right: 10px;
    line-height: 24px;
    padding-bottom: 50px;
    padding-top: 48px;

    &--common {
      padding-bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 59px;
    width: 492px;
    padding-top: 132px;
    padding-bottom: 66px;
  }
}

.example__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    padding-top: 54px;
  }

  .image__range {
    align-items: end;
  }

  .example__text--common {
    padding-bottom: 0;
  }
}
