.example {
  background-color: $light-grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 50px 30px 0 30px;
    background-color: $basic-white;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 75px;
  }
}

.example__text__p {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  box-sizing: border-box;
  padding-top: 33px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  font-family: $arial;
}

@media (min-width: $tablet-width) {
  .example__text__p {
    padding-right: 95px;
    padding-top: 75px;

    &--common {
      padding-bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  .example__text__p {
    padding-right: 59px;
  }
}

.example__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: $desktop-width) {
  .example__tittle {
    padding-bottom: 75px;
  }

  .image__range {
    align-items: end;
  }

  .example__text__p {
    width: 436px;
    background-color: $basic-grey;
  }

  .example__text--common {
    padding-bottom: 0;
  }
}
