.example {
  background: $light-grey;
  padding: 20px 0 5px;

  @media (min-width: $tablet-width) {
    padding: 50px 30px 0 30px;
    background: linear-gradient(to top, $light-grey 0, $light-grey 35%, $basic-white 35%, $basic-white 100%);
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-left: auto;
    padding-left: 110px;
    padding-right: 110px;
    width: 1220px;
    background: linear-gradient(to top, $light-grey 0, $light-grey 65%, $basic-white 65%, $basic-white 100%);
  }
}

@media (min-width: $desktop-width) {
  .example--container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
  }
}

.example__text__p {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    padding-right: 95px;
    padding-top: 75px;

    &--common {
      padding-bottom: 60px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 59px;
  }
}

.example__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }

  .image__range {
    align-items: end;
  }

  .example__text__p {
    width: 436px;

    padding-top: 100px;
  }

  .example__text--common {
    padding-bottom: 0;
  }
}
