.expenses {
  text-align: center;
  padding-top: 36px;
  padding-bottom: 42px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: $basic-black;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .expenses {
    padding: 0;
    flex-direction: column;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .expenses {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }
}

.expenses__d {
  padding-right: 3px;
  margin-top: 0;
  margin-bottom: 0;

  &:last-child {
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .expenses__d {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .expenses__d {
    justify-content: start;
    padding-right: 120px;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: right;
  }
}
