.field-connect {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  display: grid;
  grid-template-columns: max-content 1fr;

  &:not(:last-child) {
    padding-bottom: 10px;
  }
}

.field-connect__label {
  padding-right: 10px;
}

.field-connect__input {
  text-transform: uppercase;
  border: 1px solid $special_grey;
  width: 100%;

  &--email {
    padding: 13px 45px 15px 15px;
  }

  &--phone {
    padding: 13px 27px 15px 16px;
  }
}

@media (min-width: $desktop-width) {
  .field-connect__input {
    padding-right: 323px;
  }
}

.field-connect__input-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.email {
  align-items: center;
}

.phone {
  align-items: center;
}

.field-connect__img {
  position: absolute;
  right: 14px;
}

@media (min-width: $tablet-width) {
  .field-connect__img {
    right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .email-phone {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .email {
    margin-right: 78px;
  }
}
