.field-connect {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  display: grid;
  grid-template-columns: max-content 1fr;

  &:not(:last-child) {
    padding-bottom: 14px;
  }
}

@media (min-width: $tablet-width) {
  .field-connect {
    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-connect {
    width: 50%;

    &:not(:last-child) {
      padding-bottom: 0;
    }
  }
}

.field-connect__label {
  padding-right: 11px;
  padding-bottom: 8px;
}

@media (min-width: $tablet-width) {
  .field-connect__label {
    font-size: 20px;
    padding-right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .field-connect__label {
    padding-right: 22px;
  }
}

.field-connect__input {
  text-transform: uppercase;
  border: 1px solid $special_grey;
  width: 100%;

  &--email {
    padding: 16px 42px 11px 15px;
  }

  &--phone {
    padding: 16px 27px 11px 14px;
  }

  &::placeholder {
    color: $basic-black;
    font-family: $oswald;
    font-size: 16px;
  }
}

@media (min-width: $tablet-width) {
  .field-connect__input {
    &::placeholder {
      font-size: 20px;
    }

    &--email {
      padding: 19px 42px 14px 24px;
    }

    &--phone {
      padding: 21px 27px 13px 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-connect__input {
    padding: 20px 40px 14px 19px;

    &--phone {
      padding-left: 11px;
    }
  }
}

.field-connect__input-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:focus {
    border: 1px solid $special_grey;
  }

  &:disabled {
    border: 2px solid $dark-grey;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }
}

.email {
  align-items: center;
}

.phone {
  align-items: center;
}

.field-connect__img {
  position: absolute;
  right: 14px;
  top: 15px;

  &:disabled {
    fill: $basic-green;
  }

  &:invalid {
    fill: #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .field-connect__img {
    right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .email-phone {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .email {
    margin-right: 83px;
    padding-bottom: 0;
  }
}
