.field-text {
  padding-bottom: 13px;
  white-space: nowrap;
  display: grid;
  grid-template-columns: max-content 1fr;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
    font-size: 20px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 14px;
  }
}

.field-text__span {
  padding-right: 15px;
  color: $dark-grey;
  margin-top: auto;
  margin-bottom: auto;
  white-space: wrap;

  @media (min-width: $tablet-width) {
    padding-right: 18px;
  }
}

.field-text__input {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  border: 1px solid $color-border-input;
  width: 100%;

  &--name {
    padding: 8px 45px 11px 14px;
  }

  &--weidth {
    padding: 9px 45px 11px 17px;
  }

  &--age {
    padding: 10px 45px 9px 16px;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus:invalid {
    border: 2px solid #ff8282;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &::placeholder {
      font-size: 20px;
    }

    &--name {
      padding: 13px 437px 14px 16px;
    }

    &--weidth {
      padding: 9px 406px 11px 19px;
    }

    &--age {
      padding: 10px 367px 12px 16px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    padding: 11px 0 15px 17px;

    &--name {
      padding-right: 376px;
    }
  }
}
