.footer__social {
  text-align: center;
  list-style-type: none;
  background-color: $basic-grey;
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .footer__social--wrapper {
    display: flex;
    padding-top: 11px;
    padding-bottom: 49px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .footer__social--wrapper {
    padding-top: 19px;
  }
}
