.footer__social {
  text-align: center;
  list-style-type: none;
  background-color: $basic-grey;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 70px;
  }
}
