.gift {
  padding: 40px 0 35px 0;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 0;
    padding-bottom: 0;
    height: 290px;
  }
}

.gift__background {
  background-image: url("../img/gift-photo.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-color: $basic-green;
  padding: 57px 59px 42px 59px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 280px 290px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding: 58px 124px 64px 79px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/gift-photo-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.png");
      background-size: 708px 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift__background {
    text-align: center;
    padding: 55px 41px 42px 42px;
    flex-direction: column;
    background-image: url("../img/gift-photo-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.png");
      background-size: 245px 290px;
    }
  }
}

.gift__headline {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-family: $arial;
  color: $basic-white;
  line-height: 20px;
  font-weight: normal;
  padding-top: 50px;
}

@media (min-width: $tablet-width) {
  .gift__headline {
    text-align: start;
    padding-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .gift__headline {
    text-align: center;
    padding-top: 52px;
  }
}
