.page-header {
  background-color: $basic-white;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  min-width: 320px;
  font-weight: 500;
}

.page-header__logo {
  @include padding-wrapper;
}

.main-nav {
  padding-top: 12px;

  &--wrapper {
    border-bottom: 1px solid $grey-line-2;
    padding-bottom: 15px;
  }
}

.site-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-list__item {
  list-style-type: none;
  border-bottom: 1px solid $grey-line-2;
  text-align: center;
  padding: 22px 0 24px 0;
}

.link {
  text-decoration: none;
  color: $basic-black;
}
