.advantages {
  color: $basic-black;
  padding: 0 20px;
}

.advantages__tittle {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 38px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  font-family: "Arial", "Helvetica", sans-serif;

  padding-bottom: 24px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;

  &--leaf {
    background-image: url("../img/leaf.svg"), url("../img/green.svg");
    background-repeat: no-repeat;
  }

  &--boiling {
    background-image: url("../img/boiling.svg"), url("../img/green.svg");
    background-repeat: no-repeat;
  }

  &--food {
    background-image: url("../img/food.svg") no-repeat,
      url("../img/green.svg") no-repeat;
  }

  &--alarm {
    background-image: url("../img/alarm_clock.svg"), url("../img/green.svg");
    background-repeat: no-repeat;
  }
}
