.htmlacademy__list {
  @include ul-none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-left: 0;

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.htmlacademy__a {
  color: $basic-black;
}

.htmlacademy__text {
  color: $dark-grey;
  font-family: $arial;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}

.htmlacademy__logo {
  fill: $dark-grey;
}

.htmlacademy__svg {
  fill: $light-dark-grey;

  &:hover {
    fill: $basic-green;
  }
}
