.images__image--before {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: $tablet-width) {
  .image__range {
    padding-top: 95px;
  }
}

.images__image--after {
  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .images__image--after {
    background-color: $basic-white;
  }
}
