.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.no-js .main-nav__list {
  display: flex;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav .button-burger::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: -2px;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--opened .button-burger {
  top: 10px;
  right: 25px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 41px;
    width: 24px;
    height: 1px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav .button-burger {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav .main-nav__list {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__nav {
  padding-bottom: 10px;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .main-nav__nav {
    padding: 0;
    padding-bottom: 10px;

    border: none;
  }
}

.main-nav__logo {
  opacity: 100%;
}

.main-nav__logo:hover {
  opacity: 80%;
}

.main-nav__logo:active,
.main-nav__logo:focus {
  opacity: 60%;
}
