.main-nav {
  position: relative;
}

.main-nav--closed .button-burger::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 41px;
  width: 24px;
  height: 1px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .button-burger {
  top: 10px;
  right: 25px;
  left: auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 41px;
    width: 24px;
    height: 1px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (min-width: $tablet-width) {
  .main-nav .main-nav__list {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .main-nav .button-burger {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-nav__nav {
  border-bottom: 1px solid $grey-line-2;
  padding-bottom: 15px;
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .main-nav__nav {
    padding: 0;
    padding-bottom: 10px;

    border: none;
  }
}

.link {
  color: black;
}

@media (min-width: $tablet-width) {
  .link {
    font-size: 18px;
    font-weight: normal;

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .link {
    &--index {
      border-bottom: 2px solid $basic-white;
    }

    &--index-big {
      color: $basic-white;
    }
  }
}
