.option {
  padding-top: 22px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 80px;
  }
}

.option__option {
  padding: 21px 20px 18px 20px;
  background-color: $basic-grey;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--slim {
    background-image: url("../img/cat-slimming.svg");
    background-repeat: no-repeat;
    background-position: 22px 23px;
  }

  &--pro {
    background-image: url("../img/cat-weight-gain.svg");
    background-repeat: no-repeat;
    background-position: 13px 23px;
    padding-top: 18px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    padding: 66px 51px 57px;

    &--slim {
      background-size: 201px 211px;
      background-position: 445px 81px;
    }

    &--pro {
      background-size: 269px 206px;
      background-position: 409px 87px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 59px 52px;
    width: 570px;
    margin-right: 80px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    &--slim {
      background-size: 102px 105px;
      background-position: 11% 15%;
    }

    &--pro {
      background-size: 138px 101px;
      background-position: 7% 17%;
    }
  }
}

.option__tittle {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 11px;
  margin-right: auto;
  margin-left: auto;

  &--slim {
    padding-left: 71px;
  }

  &--pro {
    padding-left: 70px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
    max-width: 377px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    text-align: center;
    padding-bottom: 47px;

    &--slim {
      padding-left: 110px;
    }

    &--pro {
      padding-left: 151px;
    }
  }
}

.option__subtitle {
  font-family: $arial;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.option__text {
  font-size: 14px;
  line-height: 18px;
  font-family: $arial;
  font-weight: 400;
  font-style: normal;
  border-bottom: 1px solid $grey-line;
  padding-bottom: 22px;
  color: $dark-grey;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 28px;
  padding-right: 13px;

  br {
    display: none;
  }


  @media (min-width: $tablet-width) {
    border: none;
    max-width: 386px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 27px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-black;
    padding-right: 0;
    max-width: 470px;
    padding-bottom: 0;

    br {
      display: none;
    }
  }
}

.option__link {
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding-top: 16px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  &::after {
    content: url("../img/arrow.png");
    display: block;
    left: 100px;
    position: absolute;
    bottom: 14px;
    width: 24px;
    height: 12px;

    &:hover {
      content: url("../img/arrowx-size.png");
      width: 32px;
    }
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-top: 26px;

    &::after {
      left: 134px;
      top: 23px;
    }
  }
}
