.page__color {
  background-color: $basic-white;
  color: $basic-black;

  &--index {
    @media (min-width: $desktop-width) {
      &::after {
        background: #64a73c;
        z-index: 0;
        content: "";
        width: 50vw;
        height: 695px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      &::before {
        background-image: url("../img/cat-d.png");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: auto;
        content: "";
        width: 50vw;
        height: 695px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cat-d@2x.png");
          background-size: 720px 694px;
        }
      }
    }
  }
}
