.picture-footer {
  border-bottom: 1px solid $grey-line;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

@media (min-width: $tablet-width) {
  .picture-footer {
    border-bottom: none;
    padding-bottom: 0;
  }
}
