.product {
  background-image: url("../img/background-cat.jpg");
  background-repeat: no-repeat;
  color: $basic-white;
  text-align: center;
}

.product__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 27px;
}

.product__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  font-size: 14px;
  text-transform: uppercase;
}

.product__background {
  padding-top: 30px;
}

.product__background--toggle {
  background-color: $basic-green;
  padding: 7px 44px;
  color: $basic-white;
  text-transform: uppercase;
  display: block;
}

@media (min-width: 768px) {
  .product {
    color: $basic-black;
    padding-top: 0;
  }

  .product__title {
    line-height: 60px;
    text-align: left;
    font-size: 60px;
    padding-right: 150px;
    padding-top: 60px;
  }

  .product__subtitle {
    text-align: left;
  }

  .product__background--toggle {
    padding: 14px 26px;
  }
}

@media (min-width: 1440px) {
  .product__title {
    padding-right: 0;
    font-size: 42px;
    font-weight: normal;
    line-height: 42px;
  }

  .product__wrapper {
    padding-left: 76px;
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
