.program-change {
  border: none;
  margin: 0;
  padding: 26px 0 2px 45px;
  border-bottom: 1px solid $grey-line;
  color: $special-dark-grey;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-border-input;
    padding-bottom: 7px;
    padding-left: 86px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    padding-left: 91px;
    padding-bottom: 6px;
    padding-top: 31px;
  }
}
