.program-change {
  border: none;
  margin: 0;
  padding: 26px 0 2px 66px;
  border-bottom: 1px solid $grey-line;
  color: $special-dark-grey;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .program-change {
    border: 1px solid $color-border-input;
    padding-bottom: 7px;
    padding-left: 86px;
    padding-top: 32px;
  }
}

@media (min-width: $desktop-width) {
  .program-change {
    width: 482px;
    padding-left: 80px;
    padding-bottom: 35px;
    padding-top: 35px;
  }
}
