.program-comments {
  border: none;
  padding: 0;
}

.program-comments__legend {
  position: relative;
  font-size: 24px;
  padding: 0 0 32px;
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding-top: 36px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 69px;
  }
}

.program-comments__legend span {
  position: relative;
  z-index: 1;
  background: $basic-white;

  @media (min-width: $tablet-width) {
    margin-right: -40px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }
}

.program-comments__legend span::after,
.program-comments__legend span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 29px;
  }
}

@media (min-width: $tablet-width) {
  .program-comments__legend span::before {
    left: -100vw;
  }
}

.program-comments__textarea {
  border: 1px solid $color-border-input;
  min-height: 150px;
  width: 100%;

  &::placeholder {
    color: $dark-grey;
    text-transform: uppercase;
    font-size: 16px;
    padding: 4px 11px 0 11px;
    font-family: $oswald;
    font-weight: 400;
    font-style: normal;
  }

  @media (min-width: $tablet-width) {
    padding-left: 6px;
    min-height: 175px;
    width: 631px;

    &::placeholder {
      font-size: 20px;
    }
  }
}
