.program-additionally {
  border: none;
  margin: 0;
  color: $special-dark-grey;
  font-size: 16px;
  padding: 0 0 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 25px;
  }
}

.program-additionally__legend {
  font-size: 24px;
  padding: 14px 0 30px;
  font-weight: 400;
  font-style: normal;
  color: $basic-black;
  display: block;
  width: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    padding: 50px 0 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.program-additionally__legend span {
  position: relative;
  z-index: 2;
  background: $basic-white;

  @media (min-width: $tablet-width) {
    margin-right: -40px;
    padding-right: 40px;
  }
}

.program-additionally__legend span::after,
.program-additionally__legend span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .program-additionally__legend span::before {
    left: -100vw;
  }
}

.program-additionally__span {
  font-size: 16px;
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  color: $basic-black;
  text-transform: uppercase;
  padding-left: 46px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    padding-left: 62px;

    &--vitamin {
      padding-left: 55px;
    }
  }
}

.additionally-checkbox__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 23px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.additionally-checkbox {
  padding-bottom: 18px;
  cursor: pointer;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-right: 99px;
    display: flex;
    text-align: left;
    min-width: 208px;
    justify-content: start;
    padding-bottom: 43px;

    &:last-child {
      padding-right: 138px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-right: 90px;

    &:nth-child(2) {
      padding-right: 120px;
    }

    &:nth-child(3) {
      padding-right: 190px;
    }

    &:last-child {
      padding-right: 97px;
    }
  }
}

.additionally-checkbox__input + span::before {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 31px;
  border: 1px solid $special_grey;
  left: 1px;
  top: 0;
}

.additionally-checkbox__input::before .program-additionally__span {
  border: 1px solid $special_grey;
}

.additionally-checkbox__input::before:hover .program-additionally__span {
  border: 1px solid #bababa;
}

.additionally-checkbox__input::before:disabled .program-additionally__span {
  opacity: 30%;
}

.additionally-checkbox__input:checked + span::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 5px 8px;
  left: 0;
  bottom: 17px;

  &:hover {
    border: 1px solid #bababa;
  }

  &:disabled {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .additionally-checkbox__input + span::before,
  .additionally-checkbox__input:checked + span::before {
    top: -4px;
    left: 3px;
    width: 39px;
    height: 38px;
  }
}

@media (min-width: $tablet-width) {
  .additionally-checkbox__input + .program-additionally__span--vitamin::before,
  .additionally-checkbox__input + .program-additionally__span--vitamin:checked::before {
    top: -5px;
    left: -2px;
    width: 39px;
    height: 40px;
  }
}

@media (min-width: $tablet-width) {
  .additionally-checkbox__input:checked + span::before {
    background-position: 10px 11px;
  }
}

.additionally-checkbox .program-additionally__span::before {
  border: 1px solid $special_grey;
}

.additionally-checkbox:hover .program-additionally__span::before {
  border: 1px solid #bababa;
}
