.program-contacts {
  margin: 0;
  border: none;
  padding: 0 0 20px 19px;
}

@media (min-width: $tablet-width) {
  .program-contacts {
    padding-left: 69px;
  }
}

.program-contacts__legend {
  position: relative;
  color: $basic-black;
  font-size: 24px;
  line-height: 26px;
  padding: 26px 0 35px 0;
  display: block;
  overflow: hidden;
  width: 100%;
  background: $basic-white;
  z-index: 2;
  margin: 0;
}

.program-contacts__legend span {
  position: relative;
}

@media (min-width: $tablet-width) {
  .program-contacts__legend span {
    font-size: 36px;
    line-height: 36px;
    padding-right: 0;
    margin-right: -40px;

    br {
      display: none;
    }
  }
}

.program-contacts__legend span::after,
.program-contacts__legend span::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  left: calc((768px - 100vw) / 2);
}

@media (min-width: $tablet-width) {
  .program-contacts__legend span::before {
    left: -100vw;
  }
}

@media (min-width: $tablet-width) {
  .program-contacts__legend {
    padding-bottom: 76px;
    padding-top: 75px;
  }
}

.email-phone {
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .email-phone {
    padding-right: 65px;
  }
}
