.program-change {
  border: none;
  margin: 0;
  padding-top: 22px;
  border-bottom: 1px solid $grey-line;
  color: $special-dark-grey;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
