.selection-program {
  padding-top: 4px;
}

.selection-program__legend {
  font-size: 36px;
  font-weight: normal;
  color: $basic-black;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 15px;
  padding-right: 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-top: 31px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    width: 1220px;
  }
}

.selection-program__text {
  margin: 0 auto;
  width: 280px;
  padding-top: 28px;
  text-transform: uppercase;
  font-size: 14px;
  color: $basic-black;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    font-size: 20px;
    line-height: 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
