.site-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.site-list__item {
  list-style-type: none;
  border-bottom: 1px solid $grey-line-2;
  text-align: center;
  padding: 22px 0 24px 0;
  font-weight: 500;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__item {
    padding-left: 33px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;

    &:first-child {
      padding-bottom: 10px;
      padding-left: 0;
    }

    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  .main-nav__nav {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--active {
    border-bottom: 2px solid $basic-white;
  }
}
