.social-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 8px 13px 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $grey-line;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 130px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-right: 383px;
  }
}

.social-items__item {
  padding-right: 37px;

  &:last-child {
    padding-right: 0;
  }

  @media (min-width: $tablet-width) {
    padding-right: 24px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.social-items__link {
  text-decoration: none;
  color: $dark-grey;
}

.social-items__svg {
  fill: #666666;

  @media (min-width: $tablet-width) {
    &--vk {
      width: 30px;
      height: 22px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 28px;
      height: 25px;
    }
  }

  &:hover,
  &:focus {
    fill: $basic-green;
  }

  &:active {
    opacity: 30%;
  }
}
