.social-items__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 20px 13px 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid $grey-line;
}

@media (min-width: $tablet-width) {
  .social-items__list {
    border-bottom: none;
    padding: 0;
  }
}

.social-item {
  border-bottom: 1px solid $grey-line;

  &:last-child {
    border: none;
  }
}

.social-items__item {
  padding-right: 35px;

  &:last-child {
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social-items__item {
    padding-right: 28px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.social-items__link {
  text-decoration: none;
  color: $dark-grey;
}

.social-item__svg {
  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 30%;
  }
}
