.time-weight {
  width: 100%;
  border: 1px solid $special-grey;
  text-align: center;
  padding: 20px;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .time-weight {
    width: 130px;
    margin-right: 42px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.time-weight__border {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.time-weight__flex {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .time-weight__flex {
    justify-content: start;
  }
}

@media (min-width: $desktop-width) {
  .time-weight__flex {
    padding-bottom: 50px;
  }
}

.time-weight__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;
}

.time-weight__subtittle {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  font-family: $arial;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: lowercase;
  background-color: $light-grey;
  position: absolute;
  left: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .time-weight__subtittle {
    background-color: $basic-white;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: $tablet-width) {
  .time-weight-expenses {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .time-weight-expenses {
    display: flex;
    flex-direction: column;
  }
}
