.time-weight {
  width: 100%;
}

.time-weight__flex {
  display: flex;
  text-align: center;
  padding-right: 23px;
  padding-left: 20px;
  justify-content: space-between;
}

.time-weight__tittle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $special-grey;

  &--kilogram {
    padding: 14px 42px 17px 42px;
  }

  &--days {
    padding: 13px 20px 18px 20px;
  }
}

.time-weight__subtittle {
  margin-bottom: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  padding-right: 30px;
  padding-left: 30px;
  text-transform: lowercase;
  margin-top: -10px;
}
