@mixin arial {
  font-family: "Arial", "Helvetica", sans-serif;
  width: 400px;
  font-style: normal;
}

@mixin oswald {
  font-family: "Oswald", "Verdana", sans-serif;
  width: 400px;
  font-style: normal;
}
