@mixin arial {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin oswald {
  font-family: "Oswald", "Verdana", sans-serif;
  font-weight: 400px;
  font-style: normal;
}

@mixin margin {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin padding-wrapper {
  padding-right: 23px;
  padding-left: 20px;
}
