.page__body {
  font-family: $oswald;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  background-color: bisque;
  margin: 0 auto;
  display: grid;
  grid-template: max-content 1fr max-content;

  &--header {
    background-color: $basic-white;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
    text-transform: uppercase;
    min-height: 33px;
    box-sizing: border-box;
  }

  &--footer {
    background-color: $basic-white;
    box-sizing: border-box;
  }
}

@media (min-width: $tablet-width) {
  .page__body {
    &--header {
      padding-top: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .color {
    background-image: url("../img/cat-d.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50vw;
  }

  .page__body {
    &--header {
      background-color: transparent;
      padding-top: 54px;
    }
  }
}
