.page__color {
  background-color: $basic-white;
  color: $basic-black;
}

@media (min-width: $desktop-width) {
  .page__color--index {
    background-image: url("../img/cat-d.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50vw;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-d@2x.png");
    }
  }
}
