.program-contacts {
  @include margin;
  padding: 0;
  padding-bottom: 26px;

  margin-left: 0;
  margin-right: 0;
  border: none;
  border-bottom: 1px solid $grey-line;
}

.program-contacts__legend {
  color: $basic-black;
  font-size: 24px;
  line-height: 26px;
  padding-top: 36px;
  padding-bottom: 36px;
}

.field-connect {
  font-size: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  @include oswald;
  padding-right: 10px;
}

.field-connect__input {
  text-transform: uppercase;

  &--email {
    padding: 13px 30px 15px 15px;
  }

  &--phone {
    padding: 13px 13px 15px 16px;
  }
}

.field-connect__input-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field-email-phone:not(:last-child) {
  padding-bottom: 10px;
}

.email {
  display: flex;
  align-items: center;
}

.phone {
  display: flex;
  align-items: center;
}
