.page__header {
  background-color: $basic-white;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
  min-width: 320px;
  font-weight: 500;
  @include padding-wrapper;
  box-sizing: border-box;
}

.main-nav {
  padding-top: 12px;

  &--wrapper {
    border-bottom: 1px solid $grey-line-2;
    padding-bottom: 15px;
  }
}
