.address {
  @include padding-wrapper;
  padding-top: 28px;
  padding-bottom: 22px;
}

.address__text {
  display: grid;
  grid-template-columns: 140px 140px;
  @include margin;
  @include arial;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
}

.address__tittle {
  @include oswald;
  @include margin;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: $light-black;
}

.address__address {
  @include margin;
}
